@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  font-family: "Roboto", sans-serif;
}

.heading {
  background: #0cb;
  color: #311b92;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  margin: 1rem;
}

.headingBackground {
  display: inline-block;
  background: #ffac31;
  padding: 0.5rem;
  transform: skewX(-7deg);
}

.content {
  background: #0cb;
  padding: 1rem;
}

.contentHeading {
  background: yellow;
  padding: 0 0.3rem;
}

.courses {
  list-style: none;
  color: #fff;
}

.courses li {
  padding: 0.5rem;
}

.courseName {
  color: #311b92;
}

@media only screen and (max-width: 600px) {
  .container {
    text-align: center;
  }
}
